{
  "swagger" : "2.0",
  "info" : {
    "version" : "1.0",
    "title" : "Quantum API"
  },
  "host" : "app.quantumeconomics.es",
  "basePath" : "/contabilidad/ws",
  "tags" : [ {
    "name" : "API Rest QuantumBi"
  }, {
    "name" : "Accounts"
  }, {
    "name" : "Banking and cash register"
  }, {
    "name" : "Company"
  }, {
    "name" : "Customer"
  }, {
    "name" : "DUA's of company"
  }, {
    "name" : "Delivery Notes"
  }, {
    "name" : "Diary from company"
  }, {
    "name" : "Invoices"
  }, {
    "name" : "Labour"
  }, {
    "name" : "Listing"
  }, {
    "name" : "Portfolio"
  }, {
    "name" : "Pro Forma Invoices"
  }, {
    "name" : "Provider"
  }, {
    "name" : "Risk"
  }, {
    "name" : "Taxes"
  }, {
    "name" : "Taxes Types"
  }, {
    "name" : "Ticket's of company"
  }, {
    "name" : "Worker"
  } ],
  "schemes" : [ "https", "http" ],
  "paths" : {
    "/account" : {
      "get" : {
        "tags" : [ "Accounts" ],
        "summary" : "Returns a list with the accounts if exists",
        "description" : "",
        "operationId" : "searchAccount",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "companyId",
          "in" : "query",
          "description" : "Company id",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "year",
          "in" : "query",
          "description" : "Year",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "accountType",
          "in" : "query",
          "description" : "Account Type: G=General, C=Client, P=Provider",
          "required" : true,
          "type" : "string",
          "enum" : [ "G", "C", "P" ]
        }, {
          "name" : "text",
          "in" : "query",
          "description" : "Text",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "$ref" : "#/definitions/AccountList"
            }
          }
        }
      }
    },
    "/account/accountingPlan" : {
      "get" : {
        "tags" : [ "Accounts" ],
        "summary" : "Returns de accounting plan ",
        "description" : "",
        "operationId" : "searchAccountingPlan",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "companyId",
          "in" : "query",
          "description" : "Company id",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "admitEntries",
          "in" : "query",
          "description" : "S to show only the accounts that allow entries, N to show the accounts that don't have entries, T to show all",
          "required" : false,
          "type" : "string",
          "enum" : [ "S", "N", "T" ]
        }, {
          "name" : "year",
          "in" : "query",
          "description" : "year",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "showEmptyValues",
          "in" : "query",
          "description" : "if true return values that can be 0",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "detailByMonth",
          "in" : "query",
          "description" : "return with the detail by month",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "formated",
          "in" : "query",
          "description" : "returns the account number with the same length",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "startAccount",
          "in" : "query",
          "description" : "Start Account",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "endAccount",
          "in" : "query",
          "description" : "End Account",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "accountType",
          "in" : "query",
          "description" : "type of account: G=General(by default); C=Client;P=Provider; A=All",
          "required" : false,
          "type" : "string",
          "enum" : [ "G", "C", "P", "A" ]
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "$ref" : "#/definitions/AccountingPlanList"
            }
          }
        }
      }
    },
    "/account/definition/full" : {
      "get" : {
        "tags" : [ "Accounts" ],
        "summary" : "Returns a list with the accounts if exists",
        "description" : "",
        "operationId" : "searchAccountDefinitionFull",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "companyId",
          "in" : "query",
          "description" : "Company id",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "tpPGC",
          "in" : "query",
          "description" : "tpPGC",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "country",
          "in" : "query",
          "description" : "Country",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "paquete",
          "in" : "query",
          "description" : "Paquete",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "$ref" : "#/definitions/AccountFullList"
            }
          }
        }
      }
    },
    "/account/full" : {
      "get" : {
        "tags" : [ "Accounts" ],
        "summary" : "Returns a list with the accounts if exists",
        "description" : "",
        "operationId" : "searchAccountFull",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "companyId",
          "in" : "query",
          "description" : "Company id",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "year",
          "in" : "query",
          "description" : "Year",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "accountType",
          "in" : "query",
          "description" : "Account Type: G=General, C=Client, P=Provider",
          "required" : true,
          "type" : "string",
          "enum" : [ "G", "C", "P" ]
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "$ref" : "#/definitions/AccountFullList"
            }
          }
        }
      }
    },
    "/advisorQuantumBi/clientOGHonorary" : {
      "get" : {
        "tags" : [ "API Rest QuantumBi" ],
        "summary" : "Get Total Honorarium from Agency ",
        "description" : "",
        "operationId" : "getAllClientOGHonorary",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "startDate",
          "in" : "query",
          "description" : "Start Date (DD-MM-YYYY)",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "endDate",
          "in" : "query",
          "description" : "End Date (DD-MM-YYYY)",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "feeId",
          "in" : "query",
          "description" : "Fee ID of Agency",
          "required" : false,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "sectionId",
          "in" : "query",
          "description" : "Section ID of Agency",
          "required" : false,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "clientId",
          "in" : "query",
          "description" : "Client ID of Agency",
          "required" : false,
          "type" : "integer",
          "format" : "int64"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "$ref" : "#/definitions/SectionHonoraryResponse"
            }
          }
        }
      }
    },
    "/advisorQuantumBi/rateHonorary" : {
      "get" : {
        "tags" : [ "API Rest QuantumBi" ],
        "summary" : "Get Total Honorarium from Rate ",
        "description" : "",
        "operationId" : "getAllRateHonorary",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "startDate",
          "in" : "query",
          "description" : "Start Date (DD-MM-YYYY)",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "endDate",
          "in" : "query",
          "description" : "End Date (DD-MM-YYYY)",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "feeId",
          "in" : "query",
          "description" : "Fee ID of Agency",
          "required" : false,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "sectionId",
          "in" : "query",
          "description" : "Section ID of Agency",
          "required" : false,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "clientId",
          "in" : "query",
          "description" : "Client ID of Agency",
          "required" : false,
          "type" : "integer",
          "format" : "int64"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "$ref" : "#/definitions/RateHonoraryResponse"
            }
          }
        }
      }
    },
    "/advisorQuantumBi/sectionHonorary" : {
      "get" : {
        "tags" : [ "API Rest QuantumBi" ],
        "summary" : "Get Total Honorarium from Agency ",
        "description" : "",
        "operationId" : "getAllSectionHonorary",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "startDate",
          "in" : "query",
          "description" : "Start Date (DD-MM-YYYY)",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "endDate",
          "in" : "query",
          "description" : "End Date (DD-MM-YYYY)",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "feeId",
          "in" : "query",
          "description" : "Fee ID of Agency",
          "required" : false,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "sectionId",
          "in" : "query",
          "description" : "Section ID of Agency",
          "required" : false,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "clientId",
          "in" : "query",
          "description" : "Client ID of Agency",
          "required" : false,
          "type" : "integer",
          "format" : "int64"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "$ref" : "#/definitions/SectionHonoraryResponse"
            }
          }
        }
      }
    },
    "/advisorQuantumBi/totalHonorarium" : {
      "get" : {
        "tags" : [ "API Rest QuantumBi" ],
        "summary" : "Get Total Honorarium from Agency ",
        "description" : "",
        "operationId" : "getTotalHonorariums",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "startDate",
          "in" : "query",
          "description" : "Start Date (DD-MM-YYYY)",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "endDate",
          "in" : "query",
          "description" : "End Date (DD-MM-YYYY)",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "feeId",
          "in" : "query",
          "description" : "Fee ID of Agency",
          "required" : false,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "sectionId",
          "in" : "query",
          "description" : "Section ID of Agency",
          "required" : false,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "clientId",
          "in" : "query",
          "description" : "Client ID of Agency",
          "required" : false,
          "type" : "integer",
          "format" : "int64"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "$ref" : "#/definitions/SectionHonoraryResponse"
            }
          }
        }
      }
    },
    "/advisorQuantumBi/userClientHonorariums" : {
      "get" : {
        "tags" : [ "API Rest QuantumBi" ],
        "summary" : "Get Total Honorarium from Agency ",
        "description" : "",
        "operationId" : "getUserAndClientsHonorariums",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "startDate",
          "in" : "query",
          "description" : "Start Date (DD-MM-YYYY)",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "endDate",
          "in" : "query",
          "description" : "End Date (DD-MM-YYYY)",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "feeId",
          "in" : "query",
          "description" : "Fee ID of Agency",
          "required" : false,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "sectionId",
          "in" : "query",
          "description" : "Section ID of Agency",
          "required" : false,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "clientId",
          "in" : "query",
          "description" : "Client ID of Agency",
          "required" : false,
          "type" : "integer",
          "format" : "int64"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "$ref" : "#/definitions/SectionHonoraryResponse"
            }
          }
        }
      }
    },
    "/advisorQuantumBi/userHonorariums" : {
      "get" : {
        "tags" : [ "API Rest QuantumBi" ],
        "summary" : "Get Total Honorarium from Agency ",
        "description" : "",
        "operationId" : "getUserHonorariums",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "startDate",
          "in" : "query",
          "description" : "Start Date (DD-MM-YYYY)",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "endDate",
          "in" : "query",
          "description" : "End Date (DD-MM-YYYY)",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "feeId",
          "in" : "query",
          "description" : "Fee ID of Agency",
          "required" : false,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "sectionId",
          "in" : "query",
          "description" : "Section ID of Agency",
          "required" : false,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "clientId",
          "in" : "query",
          "description" : "Client ID of Agency",
          "required" : false,
          "type" : "integer",
          "format" : "int64"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "$ref" : "#/definitions/SectionHonoraryResponse"
            }
          }
        }
      }
    },
    "/advisorQuantumBi/userSectionHonorariums" : {
      "get" : {
        "tags" : [ "API Rest QuantumBi" ],
        "summary" : "Get Total Honorarium from Agency ",
        "description" : "",
        "operationId" : "getUserAndSectionsHonorariums",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "startDate",
          "in" : "query",
          "description" : "Start Date (DD-MM-YYYY)",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "endDate",
          "in" : "query",
          "description" : "End Date (DD-MM-YYYY)",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "feeId",
          "in" : "query",
          "description" : "Fee ID of Agency",
          "required" : false,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "sectionId",
          "in" : "query",
          "description" : "Section ID of Agency",
          "required" : false,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "clientId",
          "in" : "query",
          "description" : "Client ID of Agency",
          "required" : false,
          "type" : "integer",
          "format" : "int64"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "$ref" : "#/definitions/SectionHonoraryResponse"
            }
          }
        }
      }
    },
    "/advisorQuantumBi/userTimeCost" : {
      "get" : {
        "tags" : [ "API Rest QuantumBi" ],
        "summary" : "Get Total Honorarium from Agency ",
        "description" : "",
        "operationId" : "getAllUserTimeCost",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "startDate",
          "in" : "query",
          "description" : "Start Date (DD-MM-YYYY)",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "endDate",
          "in" : "query",
          "description" : "End Date (DD-MM-YYYY)",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "feeId",
          "in" : "query",
          "description" : "Fee ID of Agency",
          "required" : false,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "sectionId",
          "in" : "query",
          "description" : "Section ID of Agency",
          "required" : false,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "clientId",
          "in" : "query",
          "description" : "Client ID of Agency",
          "required" : false,
          "type" : "integer",
          "format" : "int64"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "$ref" : "#/definitions/SectionHonoraryResponse"
            }
          }
        }
      }
    },
    "/bank" : {
      "get" : {
        "tags" : [ "Banking and cash register" ],
        "summary" : "Get all banks",
        "description" : "",
        "operationId" : "getBanco",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "companyId",
          "in" : "query",
          "description" : "Company id",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "bankType",
          "in" : "query",
          "description" : "Bank or Cash",
          "required" : true,
          "type" : "string",
          "enum" : [ "B", "C" ]
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "$ref" : "#/definitions/BankList"
            }
          }
        }
      }
    },
    "/bank/{id}" : {
      "get" : {
        "tags" : [ "Banking and cash register" ],
        "summary" : "Get a bank",
        "description" : "",
        "operationId" : "getBanco",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Bank id",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "companyId",
          "in" : "query",
          "description" : "Company id",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "bankType",
          "in" : "query",
          "description" : "Bank or Cash",
          "required" : true,
          "type" : "string",
          "enum" : [ "B", "C" ]
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "$ref" : "#/definitions/BankList"
            }
          }
        }
      }
    },
    "/bank/{id}/movements" : {
      "get" : {
        "tags" : [ "Banking and cash register" ],
        "summary" : "Get the list of movements of a bank",
        "description" : "",
        "operationId" : "getBancoMovimientos",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Bank id",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "companyId",
          "in" : "query",
          "description" : "Company id",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "Page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "startDate",
          "in" : "query",
          "description" : "Start date",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "endDate",
          "in" : "query",
          "description" : "End date",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "sortBy",
          "in" : "query",
          "description" : "Sort by",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "bankType",
          "in" : "query",
          "description" : "Bank or Cash",
          "required" : true,
          "type" : "string",
          "enum" : [ "B", "C" ]
        }, {
          "name" : "startAmount",
          "in" : "query",
          "description" : "Start amount",
          "required" : false,
          "type" : "number",
          "format" : "double"
        }, {
          "name" : "endAmount",
          "in" : "query",
          "description" : "End amount",
          "required" : false,
          "type" : "number",
          "format" : "double"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "$ref" : "#/definitions/BankMovementList"
            }
          }
        }
      }
    },
    "/company" : {
      "get" : {
        "tags" : [ "Company" ],
        "summary" : "Get all companies",
        "description" : "",
        "operationId" : "getCompanies",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "year",
          "in" : "query",
          "description" : "Year",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "$ref" : "#/definitions/CompanyList"
            }
          }
        }
      }
    },
    "/company/full" : {
      "get" : {
        "tags" : [ "Company" ],
        "summary" : "Get unique company by companyId",
        "description" : "",
        "operationId" : "getCompanyFull",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "companyId",
          "in" : "query",
          "description" : "companyId",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "empresa",
          "in" : "query",
          "description" : "empresa",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "year",
          "in" : "query",
          "description" : "Year",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "$ref" : "#/definitions/CompanyFull"
            }
          }
        }
      }
    },
    "/company/state" : {
      "get" : {
        "tags" : [ "Company" ],
        "summary" : "",
        "description" : "",
        "operationId" : "estat",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/RequestEstat"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "$ref" : "#/definitions/ResponseApi"
            }
          }
        }
      }
    },
    "/customer" : {
      "get" : {
        "tags" : [ "Customer" ],
        "summary" : "Get all customers",
        "description" : "",
        "operationId" : "getCliente",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "companyId",
          "in" : "query",
          "description" : "Company id",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "$ref" : "#/definitions/CustomerList"
            }
          },
          "404" : {
            "description" : "Customer not found"
          }
        }
      },
      "post" : {
        "tags" : [ "Customer" ],
        "summary" : "Create a customer",
        "description" : "",
        "operationId" : "addCliente",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "Customer",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Customer"
          }
        }, {
          "name" : "companyId",
          "in" : "query",
          "description" : "Company id",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "$ref" : "#/definitions/Id"
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Customer" ],
        "summary" : "Modify a customer",
        "description" : "",
        "operationId" : "modifyCustomer",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/Customer"
          }
        }, {
          "name" : "companyId",
          "in" : "query",
          "description" : "Company id",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "$ref" : "#/definitions/Id"
            }
          }
        }
      }
    },
    "/customer/nif/{id}" : {
      "get" : {
        "tags" : [ "Customer" ],
        "summary" : "Get a customer by nif",
        "description" : "",
        "operationId" : "getClienteByNif",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "nif",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "query",
          "description" : "Company id",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "$ref" : "#/definitions/CustomerList"
            }
          }
        }
      }
    },
    "/customer/{id}" : {
      "get" : {
        "tags" : [ "Customer" ],
        "summary" : "Get a customer by id",
        "description" : "",
        "operationId" : "getCliente",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Customer id",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "companyId",
          "in" : "query",
          "description" : "Company id",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "$ref" : "#/definitions/CustomerList"
            }
          }
        }
      }
    },
    "/deliverynote" : {
      "post" : {
        "tags" : [ "Delivery Notes" ],
        "summary" : "Creates a delivery note",
        "description" : "",
        "operationId" : "addAlbaran",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "name" : "companyId",
          "in" : "query",
          "description" : "Company Id",
          "required" : false,
          "type" : "integer",
          "format" : "int64"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/DeliveryNote"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "$ref" : "#/definitions/Id"
            }
          }
        }
      }
    },
    "/diaries/diaryDefinition" : {
      "get" : {
        "tags" : [ "Diary from company" ],
        "summary" : "Get all diary definition",
        "description" : "",
        "operationId" : "getBanco",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "year",
          "in" : "query",
          "description" : "Year",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "companyId",
          "in" : "query",
          "description" : "Company id",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "$ref" : "#/definitions/BankList"
            }
          }
        }
      }
    },
    "/diaries/obtainDiaries" : {
      "get" : {
        "tags" : [ "Diary from company" ],
        "summary" : "Get the journal entries",
        "description" : "",
        "operationId" : "getApuntes",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "companyId",
          "in" : "query",
          "description" : "Company id",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "startMovementDate",
          "in" : "query",
          "description" : "start date of movements. Format: dd/MM/yyyy",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "endMovementDate",
          "in" : "query",
          "description" : "end date of movements. Format: dd/MM/yyyy",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "entry",
          "in" : "query",
          "description" : "entry",
          "required" : false,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "diary",
          "in" : "query",
          "description" : "diary",
          "required" : false,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "accountCode",
          "in" : "query",
          "description" : "associated account code",
          "required" : false,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "accountType",
          "in" : "query",
          "description" : "type of account: G=General, C=Client, P=Provider",
          "required" : false,
          "type" : "string",
          "enum" : [ "G", "C", "P" ]
        }, {
          "name" : "concept",
          "in" : "query",
          "description" : "Concept of the entry",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "invoiceNumber",
          "in" : "query",
          "description" : "Invoice number associated with the entry",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "$ref" : "#/definitions/JournalEntriesList"
            }
          }
        }
      }
    },
    "/dua" : {
      "get" : {
        "tags" : [ "DUA's of company" ],
        "summary" : "Get all DUA's",
        "description" : "",
        "operationId" : "getBanco",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "year",
          "in" : "query",
          "description" : "Year",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "companyId",
          "in" : "query",
          "description" : "Company id",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "startDate",
          "in" : "query",
          "description" : "Start date",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "endDate",
          "in" : "query",
          "description" : "End date",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "$ref" : "#/definitions/BankList"
            }
          }
        }
      }
    },
    "/invoice" : {
      "get" : {
        "tags" : [ "Invoices" ],
        "summary" : "Returns a list with the requested invoices or tickets if exists",
        "description" : "",
        "operationId" : "llistat",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "type",
          "in" : "query",
          "description" : "Invoice type",
          "required" : true,
          "type" : "string",
          "enum" : [ "C", "P" ]
        }, {
          "name" : "companyId",
          "in" : "query",
          "description" : "Company id",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "startDate",
          "in" : "query",
          "description" : "Start date",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "endDate",
          "in" : "query",
          "description" : "End date",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "Page",
          "required" : false,
          "type" : "integer",
          "default" : "1",
          "format" : "int32"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "$ref" : "#/definitions/InvoiceList"
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Invoices" ],
        "summary" : "Creates an Invoice",
        "description" : "",
        "operationId" : "addFactura2",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "name" : "companyId",
          "in" : "query",
          "description" : "Company Id",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "Invoice",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Invoice"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "$ref" : "#/definitions/Id"
            }
          }
        }
      }
    },
    "/invoice/dashboard" : {
      "get" : {
        "tags" : [ "Invoices" ],
        "summary" : "Returns a temporary URL with the document",
        "description" : "",
        "operationId" : "dashboard",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "companyId",
          "in" : "query",
          "description" : "Company Id",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "$ref" : "#/definitions/InvoiceList"
            }
          }
        }
      }
    },
    "/invoice/document" : {
      "get" : {
        "tags" : [ "Invoices" ],
        "summary" : "Returns a temporary URL with the document",
        "description" : "",
        "operationId" : "facturaPDF3v2",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "companyId",
          "in" : "query",
          "description" : "Company id",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "language",
          "in" : "query",
          "description" : "Language",
          "required" : false,
          "type" : "string",
          "default" : "es",
          "enum" : [ "es", "ca" ]
        }, {
          "name" : "id",
          "in" : "query",
          "description" : "Invoice id",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "type" : "string"
            }
          }
        }
      }
    },
    "/invoice/full" : {
      "get" : {
        "tags" : [ "Invoices" ],
        "summary" : "Returns a list with the requested invoices or tickets if exists",
        "description" : "",
        "operationId" : "llistatFull",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "type",
          "in" : "query",
          "description" : "Invoice type",
          "required" : true,
          "type" : "string",
          "enum" : [ "C", "P" ]
        }, {
          "name" : "companyId",
          "in" : "query",
          "description" : "Company id",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "startDate",
          "in" : "query",
          "description" : "Start date",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "endDate",
          "in" : "query",
          "description" : "End date",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "$ref" : "#/definitions/InvoiceList"
            }
          }
        }
      }
    },
    "/invoice/invoiceWithFacturae" : {
      "post" : {
        "tags" : [ "Invoices" ],
        "summary" : "Creates an Invoice with Facturae",
        "description" : "",
        "operationId" : "uploadInvoiceWithFacturae",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/InvoiceWithFacturae"
          }
        }, {
          "name" : "companyId",
          "in" : "query",
          "required" : false,
          "type" : "integer",
          "format" : "int64"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "$ref" : "#/definitions/Id"
            }
          }
        }
      }
    },
    "/invoice/invoiceWithFile" : {
      "post" : {
        "tags" : [ "Invoices" ],
        "summary" : "Creates an Invoice with document (PDF)",
        "description" : "",
        "operationId" : "uploadInvoiceWithFile",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "name" : "companyId",
          "in" : "query",
          "description" : "Company Id",
          "required" : false,
          "type" : "integer",
          "format" : "int64"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "InvoiceWithDocument",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/InvoiceWithDocument"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "$ref" : "#/definitions/Id"
            }
          }
        }
      }
    },
    "/invoice/pdf" : {
      "get" : {
        "tags" : [ "Invoices" ],
        "summary" : "Returns a temporary URL with the document",
        "description" : "",
        "operationId" : "facturaPDF2",
        "produces" : [ "application/pdf" ],
        "parameters" : [ {
          "name" : "companyId",
          "in" : "query",
          "description" : "Company id",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "language",
          "in" : "query",
          "description" : "Language",
          "required" : false,
          "type" : "string",
          "default" : "es",
          "enum" : [ "es", "ca" ]
        }, {
          "name" : "id",
          "in" : "query",
          "description" : "Invoice id",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "type" : "string",
              "format" : "byte"
            }
          }
        }
      }
    },
    "/invoice/pdfB64" : {
      "get" : {
        "tags" : [ "Invoices" ],
        "summary" : "Returns a temporary URL with the document",
        "description" : "",
        "operationId" : "facturaPDF3",
        "produces" : [ "text/plain" ],
        "parameters" : [ {
          "name" : "companyId",
          "in" : "query",
          "description" : "Company id",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "language",
          "in" : "query",
          "description" : "Language",
          "required" : false,
          "type" : "string",
          "default" : "es",
          "enum" : [ "es", "ca" ]
        }, {
          "name" : "id",
          "in" : "query",
          "description" : "Invoice id",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "type" : "string"
            }
          }
        }
      }
    },
    "/invoice/state/{id}" : {
      "get" : {
        "tags" : [ "Invoices" ],
        "summary" : "Returns the payment states of an invoice",
        "description" : "",
        "operationId" : "getEstadoCP",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Invoice id",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "companyNIF",
          "in" : "query",
          "description" : "Company NIF",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "query",
          "description" : "Company Id",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "$ref" : "#/definitions/InvoiceCollectionPaymentState"
            }
          }
        }
      }
    },
    "/invoice/{id}" : {
      "get" : {
        "tags" : [ "Invoices" ],
        "summary" : "Returns a list with the requested invoice if exists",
        "description" : "",
        "operationId" : "factura",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Invoice id",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "companyId",
          "in" : "query",
          "description" : "Company id",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "$ref" : "#/definitions/InvoiceList"
            }
          }
        }
      }
    },
    "/labour" : {
      "get" : {
        "tags" : [ "Labour" ],
        "summary" : "Returns a detail of Labour of last 12 months",
        "description" : "",
        "operationId" : "labour",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "companyId",
          "in" : "query",
          "description" : "Company id",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "$ref" : "#/definitions/Labour"
            }
          }
        }
      }
    },
    "/labour/detail" : {
      "get" : {
        "tags" : [ "Labour" ],
        "summary" : "Returns a detail of Labour",
        "description" : "",
        "operationId" : "labourDetail",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "companyId",
          "in" : "query",
          "description" : "Company id",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "year",
          "in" : "query",
          "description" : "Year",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "month",
          "in" : "query",
          "description" : "Month",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "$ref" : "#/definitions/Labour"
            }
          }
        }
      }
    },
    "/labour/document" : {
      "get" : {
        "tags" : [ "Labour" ],
        "summary" : "Returns a document",
        "description" : "",
        "operationId" : "document",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "companyId",
          "in" : "query",
          "description" : "Company id",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "regid",
          "in" : "query",
          "description" : "Id of document",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "type",
          "in" : "query",
          "description" : "Type of document",
          "required" : true,
          "type" : "string",
          "enum" : [ "PAYROLL", "RMC", "RNT", "RLC", "FOLDER", "OTHER" ]
        }, {
          "name" : "year",
          "in" : "query",
          "description" : "Year",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "$ref" : "#/definitions/DocumentBase64"
            }
          }
        }
      }
    },
    "/labour/manageBasicDocuments" : {
      "get" : {
        "tags" : [ "Labour" ],
        "summary" : "Returns a list of basic documents",
        "description" : "",
        "operationId" : "manageBasicDocuments",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "companyId",
          "in" : "query",
          "description" : "Company id",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "year",
          "in" : "query",
          "description" : "Year",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "$ref" : "#/definitions/Labour"
            }
          }
        }
      }
    },
    "/labour/manageCertDocuments" : {
      "get" : {
        "tags" : [ "Labour" ],
        "summary" : "Returns a list of certificate documents",
        "description" : "",
        "operationId" : "manageCertDocuments",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "companyId",
          "in" : "query",
          "description" : "Company id",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "year",
          "in" : "query",
          "description" : "Year",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "$ref" : "#/definitions/Labour"
            }
          }
        }
      }
    },
    "/labour/manageDocuments" : {
      "get" : {
        "tags" : [ "Labour" ],
        "summary" : "Returns a list of folders and documents",
        "description" : "",
        "operationId" : "manageDocuments",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "folderId",
          "in" : "query",
          "description" : "FolderID",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "companyId",
          "in" : "query",
          "description" : "Company id",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "year",
          "in" : "query",
          "description" : "Year",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "$ref" : "#/definitions/Labour"
            }
          }
        }
      }
    },
    "/labour/otherDocuments" : {
      "get" : {
        "tags" : [ "Labour" ],
        "summary" : "Returns a list of documents that are not payrolls",
        "description" : "",
        "operationId" : "otherDocuments",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "companyId",
          "in" : "query",
          "description" : "Company id",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "year",
          "in" : "query",
          "description" : "Year",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "$ref" : "#/definitions/Labour"
            }
          }
        }
      }
    },
    "/labour/payroll" : {
      "get" : {
        "tags" : [ "Labour" ],
        "summary" : "Returns a list of payroll",
        "description" : "",
        "operationId" : "payroll",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "companyId",
          "in" : "query",
          "description" : "Company id",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "year",
          "in" : "query",
          "description" : "Year",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "$ref" : "#/definitions/Labour"
            }
          }
        }
      }
    },
    "/labour/payroll/company" : {
      "get" : {
        "tags" : [ "Labour" ],
        "summary" : "Returns a list of payroll of a Company",
        "description" : "",
        "operationId" : "payroll",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "companyId",
          "in" : "query",
          "description" : "Company id",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "year",
          "in" : "query",
          "description" : "Year",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "month",
          "in" : "query",
          "description" : "Month",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "$ref" : "#/definitions/Labour"
            }
          }
        }
      }
    },
    "/labour/payroll/document" : {
      "get" : {
        "tags" : [ "Labour" ],
        "summary" : "Returns a document",
        "description" : "",
        "operationId" : "documentPayroll",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "companyId",
          "in" : "query",
          "description" : "Company id",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "companyCIF",
          "in" : "query",
          "description" : "Company CIF",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "year",
          "in" : "query",
          "description" : "Year",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "regid",
          "in" : "query",
          "description" : "Id of document",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "$ref" : "#/definitions/DocumentBase64"
            }
          }
        }
      }
    },
    "/labour/payroll/validate" : {
      "post" : {
        "tags" : [ "Labour" ],
        "summary" : "Validates a list of Payrolls by ID",
        "description" : "",
        "operationId" : "validateAbsence",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "validation",
          "in" : "query",
          "description" : "Validation",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "companyId",
          "in" : "query",
          "description" : "Company id",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "year",
          "in" : "query",
          "description" : "Year",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "id",
          "in" : "query",
          "description" : "Payroll IDs separated by commas",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "$ref" : "#/definitions/Labour"
            }
          }
        }
      }
    },
    "/listing/accountStatement" : {
      "get" : {
        "tags" : [ "Listing" ],
        "summary" : "Returns an account statement",
        "description" : "",
        "operationId" : "mayor",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "companyId",
          "in" : "query",
          "description" : "Company id",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "year",
          "in" : "query",
          "description" : "Year",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "type",
          "in" : "query",
          "description" : "Type Account: [G]=General, [C]=Customer, [P]=Provider",
          "required" : true,
          "type" : "string",
          "enum" : [ "G", "C", "P" ]
        }, {
          "name" : "startDate",
          "in" : "query",
          "description" : "Start date",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "endDate",
          "in" : "query",
          "description" : "End date",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "startAccount",
          "in" : "query",
          "description" : "Start Account",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "endAccount",
          "in" : "query",
          "description" : "End Account",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "language",
          "in" : "query",
          "description" : "Language",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "lowestAmount",
          "in" : "query",
          "description" : "Lowest Amount",
          "required" : false,
          "type" : "number",
          "format" : "double"
        }, {
          "name" : "highestAmount",
          "in" : "query",
          "description" : "Hightest AMount",
          "required" : false,
          "type" : "number",
          "format" : "double"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "$ref" : "#/definitions/FileBase64"
            }
          }
        }
      }
    },
    "/listing/balanceSheet" : {
      "get" : {
        "tags" : [ "Listing" ],
        "summary" : "Returns a Balance Sheet",
        "description" : "",
        "operationId" : "balance",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "companyId",
          "in" : "query",
          "description" : "Company id",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "year",
          "in" : "query",
          "description" : "Year",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "periodType",
          "in" : "query",
          "description" : "Period Type: P2=Periods, P=Interval, M=Months",
          "required" : true,
          "type" : "string",
          "enum" : [ "P2", "P", "M" ]
        }, {
          "name" : "starting",
          "in" : "query",
          "description" : "If periodType=P2, starting must be between 00 and 14.\nIf periodType=P or M starting must be between 1 and 12",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "ending",
          "in" : "query",
          "description" : "If periodType=P2, ending must be between 00 and 14.\nIf periodType=P or M ending must be between 1 and 12",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "language",
          "in" : "query",
          "description" : "Language",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "$ref" : "#/definitions/FileBase64"
            }
          }
        }
      }
    },
    "/listing/profitAndLoss" : {
      "get" : {
        "tags" : [ "Listing" ],
        "summary" : "Returns a Profit & Loss Account listing",
        "description" : "",
        "operationId" : "perdidasGanancias",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "companyId",
          "in" : "query",
          "description" : "Company id",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "year",
          "in" : "query",
          "description" : "Year",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "periodType",
          "in" : "query",
          "description" : "Period Type: P2=Periods, P=Interval, M=Months",
          "required" : true,
          "type" : "string",
          "enum" : [ "P2", "P", "M" ]
        }, {
          "name" : "starting",
          "in" : "query",
          "description" : "If periodType=P2, starting must be between 00 and 14.\nIf periodType=P or M starting must be between 1 and 12",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "ending",
          "in" : "query",
          "description" : "If periodType=P2, ending must be between 00 and 14.\nIf periodType=P or M ending must be between 1 and 12",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "language",
          "in" : "query",
          "description" : "Language",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "$ref" : "#/definitions/FileBase64"
            }
          }
        }
      }
    },
    "/listing/registrationBook" : {
      "get" : {
        "tags" : [ "Listing" ],
        "summary" : "Returns a Registration Book",
        "description" : "",
        "operationId" : "registrationBook",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "companyId",
          "in" : "query",
          "description" : "Company id",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "year",
          "in" : "query",
          "description" : "Year",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "period",
          "in" : "query",
          "description" : "Period",
          "required" : true,
          "type" : "string",
          "default" : "0A",
          "enum" : [ "0A", "1T", "2T", "3T", "4T", "1S", "2S", "01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12" ]
        }, {
          "name" : "type",
          "in" : "query",
          "description" : "Type of Registration Book",
          "required" : true,
          "type" : "string",
          "default" : "IRPF",
          "enum" : [ "IRPF", "IVA" ]
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "$ref" : "#/definitions/RegistrationBook"
            }
          }
        }
      }
    },
    "/listing/trialBalance" : {
      "get" : {
        "tags" : [ "Listing" ],
        "summary" : "Returns a list with the requested invoice if exists",
        "description" : "",
        "operationId" : "sumasSaldos",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "companyId",
          "in" : "query",
          "description" : "Company id",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "year",
          "in" : "query",
          "description" : "Year",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "periodType",
          "in" : "query",
          "description" : "Period Type: P2=Periods, P=Interval, M=Months",
          "required" : true,
          "type" : "string",
          "enum" : [ "P2", "P", "M" ]
        }, {
          "name" : "starting",
          "in" : "query",
          "description" : "If periodType=P2, starting must be between 00 and 14.\nIf periodType=P or M starting must be between 1 and 12",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "ending",
          "in" : "query",
          "description" : "If periodType=P2, ending must be between 00 and 14.\nIf periodType=P or M ending must be between 1 and 12",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "language",
          "in" : "query",
          "description" : "Language",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "$ref" : "#/definitions/FileBase64"
            }
          }
        }
      }
    },
    "/portfolio/movement" : {
      "post" : {
        "tags" : [ "Portfolio" ],
        "operationId" : "newMovement",
        "parameters" : [ {
          "name" : "companyId",
          "in" : "query",
          "description" : "Company Id",
          "required" : false,
          "type" : "integer",
          "format" : "int64"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/Movement"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "$ref" : "#/definitions/Id"
            }
          }
        }
      }
    },
    "/proforma" : {
      "get" : {
        "tags" : [ "Pro Forma Invoices" ],
        "summary" : "Returns a paged list with the requested Pro Forma Invoices ",
        "description" : "",
        "operationId" : "llistat",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "companyId",
          "in" : "query",
          "description" : "Company id",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "startDate",
          "in" : "query",
          "description" : "Start date",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "endDate",
          "in" : "query",
          "description" : "End date",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "Page",
          "required" : false,
          "type" : "integer",
          "default" : "1",
          "format" : "int32"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "$ref" : "#/definitions/ProformaList"
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Pro Forma Invoices" ],
        "summary" : "Creates a Pro Forma Invoice",
        "description" : "",
        "operationId" : "addFactura2",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "name" : "companyId",
          "in" : "query",
          "description" : "Company Id",
          "required" : false,
          "type" : "integer",
          "format" : "int64"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "ProformaInvoice",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/ProformaInvoice"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "$ref" : "#/definitions/Id"
            }
          }
        }
      }
    },
    "/proforma/dashboard" : {
      "get" : {
        "tags" : [ "Pro Forma Invoices" ],
        "summary" : "Returns Pro Forma Invoices dashboard list",
        "description" : "",
        "operationId" : "dashboard",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "companyId",
          "in" : "query",
          "description" : "Company Id",
          "required" : false,
          "type" : "integer",
          "format" : "int64"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "$ref" : "#/definitions/ProformaList"
            }
          }
        }
      }
    },
    "/proforma/document" : {
      "get" : {
        "tags" : [ "Pro Forma Invoices" ],
        "summary" : "Returns a pdf document for the Pro Forma Invoice coded in Base64 (json)",
        "description" : "",
        "operationId" : "proformaPDF3v2",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "companyId",
          "in" : "query",
          "description" : "Company id",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "language",
          "in" : "query",
          "description" : "Language",
          "required" : false,
          "type" : "string",
          "default" : "es",
          "enum" : [ "es", "ca" ]
        }, {
          "name" : "id",
          "in" : "query",
          "description" : "Proforma id",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "type" : "string"
            }
          }
        }
      }
    },
    "/proforma/full" : {
      "get" : {
        "tags" : [ "Pro Forma Invoices" ],
        "summary" : "Returns a list with the requested Pro Forma Invoices",
        "description" : "",
        "operationId" : "llistatFull",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "companyId",
          "in" : "query",
          "description" : "Company id",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "startDate",
          "in" : "query",
          "description" : "Start date",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "endDate",
          "in" : "query",
          "description" : "End date",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "$ref" : "#/definitions/ProformaList"
            }
          }
        }
      }
    },
    "/proforma/pdf" : {
      "get" : {
        "tags" : [ "Pro Forma Invoices" ],
        "summary" : "Returns a pdf document for the Pro Forma Invoice",
        "description" : "",
        "operationId" : "proformaPDF2",
        "produces" : [ "application/pdf" ],
        "parameters" : [ {
          "name" : "companyId",
          "in" : "query",
          "description" : "Company id",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "language",
          "in" : "query",
          "description" : "Language",
          "required" : false,
          "type" : "string",
          "default" : "es",
          "enum" : [ "es", "ca" ]
        }, {
          "name" : "id",
          "in" : "query",
          "description" : "Proforma id",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "type" : "string",
              "format" : "byte"
            }
          }
        }
      }
    },
    "/proforma/pdfB64" : {
      "get" : {
        "tags" : [ "Pro Forma Invoices" ],
        "summary" : "Returns a pdf document for the Pro Forma Invoice coded in Base64 (text plain)",
        "description" : "",
        "operationId" : "proformaPDF3",
        "produces" : [ "text/plain" ],
        "parameters" : [ {
          "name" : "companyId",
          "in" : "query",
          "description" : "Company id",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "language",
          "in" : "query",
          "description" : "Language",
          "required" : false,
          "type" : "string",
          "default" : "es",
          "enum" : [ "es", "ca" ]
        }, {
          "name" : "id",
          "in" : "query",
          "description" : "Proforma id",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "type" : "string"
            }
          }
        }
      }
    },
    "/proforma/{id}" : {
      "get" : {
        "tags" : [ "Pro Forma Invoices" ],
        "summary" : "Returns a list with the requested Pro Forma Invoice",
        "description" : "",
        "operationId" : "proforma",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Proforma id",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "companyId",
          "in" : "query",
          "description" : "Company id",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "$ref" : "#/definitions/ProformaList"
            }
          }
        }
      }
    },
    "/provider" : {
      "get" : {
        "tags" : [ "Provider" ],
        "summary" : "Get all customers",
        "description" : "",
        "operationId" : "getCliente",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "companyId",
          "in" : "query",
          "description" : "Company id",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "$ref" : "#/definitions/ProviderList"
            }
          },
          "404" : {
            "description" : "Provider not found"
          }
        }
      },
      "post" : {
        "tags" : [ "Provider" ],
        "summary" : "Create a customer",
        "description" : "",
        "operationId" : "addCliente",
        "consumes" : [ "application/json", "application/xml" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "description" : "Provider",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Provider"
          }
        }, {
          "name" : "companyId",
          "in" : "query",
          "description" : "Company id",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "$ref" : "#/definitions/Id"
            }
          }
        }
      }
    },
    "/provider/nif/{id}" : {
      "get" : {
        "tags" : [ "Provider" ],
        "summary" : "Get a provider by id",
        "description" : "",
        "operationId" : "getClienteByNif",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Provider nif",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "query",
          "description" : "Company id",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "$ref" : "#/definitions/ProviderList"
            }
          }
        }
      }
    },
    "/provider/{id}" : {
      "get" : {
        "tags" : [ "Provider" ],
        "summary" : "Get a provider by id",
        "description" : "",
        "operationId" : "getCliente",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Provider id",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "companyId",
          "in" : "query",
          "description" : "Company id",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "$ref" : "#/definitions/ProviderList"
            }
          }
        }
      }
    },
    "/risk" : {
      "get" : {
        "tags" : [ "Risk" ],
        "summary" : "Get a Risk",
        "description" : "",
        "operationId" : "getRisk",
        "produces" : [ "application/json", "application/atom+xml" ],
        "parameters" : [ {
          "name" : "companyId",
          "in" : "query",
          "description" : "Company id",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "clientProviderNif",
          "in" : "query",
          "description" : "clientProviderNif",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "type",
          "in" : "query",
          "description" : "type",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "$ref" : "#/definitions/Risk"
            }
          }
        }
      }
    },
    "/tax" : {
      "get" : {
        "tags" : [ "Taxes" ],
        "summary" : "Taxes",
        "description" : "",
        "operationId" : "getImpuesto",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "companyId",
          "in" : "query",
          "description" : "Company Id",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "year",
          "in" : "query",
          "description" : "Year",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "period",
          "in" : "query",
          "description" : "Period",
          "required" : false,
          "type" : "string",
          "enum" : [ "01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12", "1T", "2T", "3T", "4T", "1P", "2P", "3P", "0A" ]
        }, {
          "name" : "model",
          "in" : "query",
          "description" : "Model",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "presentar",
          "in" : "query",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "$ref" : "#/definitions/TaxList"
            }
          },
          "500" : {
            "description" : "Error occurred in server"
          }
        }
      }
    },
    "/tax/detail" : {
      "get" : {
        "tags" : [ "Taxes" ],
        "summary" : "Detail of a tax",
        "description" : "",
        "operationId" : "getImpuestoDetalle",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "companyId",
          "in" : "query",
          "description" : "Company Id",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "model",
          "in" : "query",
          "description" : "Model",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "year",
          "in" : "query",
          "description" : "Year",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "period",
          "in" : "query",
          "description" : "Period",
          "required" : true,
          "type" : "string",
          "enum" : [ "01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12", "1T", "2T", "3T", "4T", "1P", "2P", "3P", "0A" ]
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "$ref" : "#/definitions/TaxList"
            }
          },
          "500" : {
            "description" : "Error occurred in server"
          }
        }
      }
    },
    "/tax/full" : {
      "get" : {
        "tags" : [ "Taxes" ],
        "summary" : "Get all impuestos by year",
        "description" : "",
        "operationId" : "getAllImpuestosByEjercicio",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "companyId",
          "in" : "query",
          "description" : "Company id",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "year",
          "in" : "query",
          "description" : "Year",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "$ref" : "#/definitions/TaxTypeList"
            }
          },
          "500" : {
            "description" : "Error occurred in server"
          }
        }
      }
    },
    "/tax/pdf" : {
      "get" : {
        "tags" : [ "Taxes" ],
        "summary" : "PDF of a tax",
        "description" : "",
        "operationId" : "getPdf",
        "produces" : [ "application/pdf" ],
        "parameters" : [ {
          "name" : "companyId",
          "in" : "query",
          "description" : "Company Id",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "model",
          "in" : "query",
          "description" : "Model",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "year",
          "in" : "query",
          "description" : "Year",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "period",
          "in" : "query",
          "description" : "Period",
          "required" : true,
          "type" : "string",
          "enum" : [ "01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12", "1T", "2T", "3T", "4T", "1P", "2P", "3P", "0A" ]
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "type" : "string",
              "format" : "byte"
            }
          },
          "500" : {
            "description" : "Error occurred in server"
          },
          "404" : {
            "description" : "PDF not found"
          }
        }
      }
    },
    "/tax/pdfB64" : {
      "get" : {
        "tags" : [ "Taxes" ],
        "summary" : "PDF of a tax",
        "description" : "",
        "operationId" : "getPdfB64",
        "produces" : [ "text/plain" ],
        "parameters" : [ {
          "name" : "companyId",
          "in" : "query",
          "description" : "Company Id",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "model",
          "in" : "query",
          "description" : "Model",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "year",
          "in" : "query",
          "description" : "Year",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "period",
          "in" : "query",
          "description" : "Period",
          "required" : true,
          "type" : "string",
          "enum" : [ "01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12", "1T", "2T", "3T", "4T", "1P", "2P", "3P", "0A" ]
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "type" : "string"
            }
          },
          "500" : {
            "description" : "Error occurred in server"
          },
          "404" : {
            "description" : "PDF not found"
          }
        }
      }
    },
    "/tax/pdfOld" : {
      "get" : {
        "tags" : [ "Taxes" ],
        "summary" : "PDF of a tax",
        "description" : "",
        "operationId" : "getPdfOld",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "companyId",
          "in" : "query",
          "description" : "Company Id",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "model",
          "in" : "query",
          "description" : "Model",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "year",
          "in" : "query",
          "description" : "Year",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "period",
          "in" : "query",
          "description" : "Period",
          "required" : true,
          "type" : "string",
          "enum" : [ "01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12", "1T", "2T", "3T", "4T", "1P", "2P", "3P", "0A" ]
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "$ref" : "#/definitions/URL2"
            }
          },
          "500" : {
            "description" : "Error occurred in server"
          },
          "404" : {
            "description" : "PDF not found"
          }
        }
      }
    },
    "/taxesTypes" : {
      "get" : {
        "tags" : [ "Taxes Types" ],
        "summary" : "Get the defined Taxes for this company",
        "description" : "",
        "operationId" : "getTiposImpuesto",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "companyId",
          "in" : "query",
          "description" : "Company id",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "type",
          "in" : "query",
          "description" : "Type (G=VAT, I=IRPF, R=R.EQUIVAL.",
          "required" : false,
          "type" : "string",
          "enum" : [ "G", "I", "R" ]
        }, {
          "name" : "valid",
          "in" : "query",
          "description" : "Valid",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "$ref" : "#/definitions/TaxTypeList"
            }
          },
          "500" : {
            "description" : "Error occurred in server"
          }
        }
      }
    },
    "/taxesTypes/full" : {
      "get" : {
        "tags" : [ "Taxes Types" ],
        "summary" : "Get the defined Taxes for this company",
        "description" : "",
        "operationId" : "getTiposImpuestoFull",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "companyId",
          "in" : "query",
          "description" : "Company id",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "valid",
          "in" : "query",
          "description" : "Valid",
          "required" : false,
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "$ref" : "#/definitions/TaxTypeList"
            }
          },
          "500" : {
            "description" : "Error occurred in server"
          }
        }
      }
    },
    "/ticket" : {
      "get" : {
        "tags" : [ "Ticket's of company" ],
        "summary" : "Get all Ticket's",
        "description" : "",
        "operationId" : "getTickets",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "year",
          "in" : "query",
          "description" : "Year",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "companyId",
          "in" : "query",
          "description" : "Company id",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "startDate",
          "in" : "query",
          "description" : "Start date",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "endDate",
          "in" : "query",
          "description" : "End date",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "$ref" : "#/definitions/TicketList"
            }
          }
        }
      }
    },
    "/ticket/file" : {
      "get" : {
        "tags" : [ "Ticket's of company" ],
        "summary" : "Get all Ticket's File",
        "description" : "",
        "operationId" : "getTicketsFile",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "ticketId",
          "in" : "query",
          "description" : "Tciket ID",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "companyId",
          "in" : "query",
          "description" : "Company id",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "type" : "string"
            }
          }
        }
      }
    },
    "/worker/absences" : {
      "get" : {
        "tags" : [ "Worker" ],
        "summary" : "Gets all absences for a year and Worker",
        "description" : "",
        "operationId" : "absencesList",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "companyId",
          "in" : "query",
          "description" : "Company id",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "year",
          "in" : "query",
          "description" : "Year",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "worker",
          "in" : "query",
          "description" : "worker",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "Page",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "$ref" : "#/definitions/Labour"
            }
          }
        }
      }
    },
    "/worker/absences/delete" : {
      "post" : {
        "tags" : [ "Worker" ],
        "summary" : "Deletes an Absence from a Worker",
        "description" : "",
        "operationId" : "deleteAbsence",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "companyId",
          "in" : "query",
          "description" : "Company id",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "year",
          "in" : "query",
          "description" : "Year",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/Absence"
          }
        }, {
          "name" : "worker",
          "in" : "query",
          "description" : "Worker",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "$ref" : "#/definitions/Labour"
            }
          }
        }
      }
    },
    "/worker/absences/file" : {
      "get" : {
        "tags" : [ "Worker" ],
        "summary" : "Returns the base64 file of an absence",
        "description" : "",
        "operationId" : "getDocumento",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "companyId",
          "in" : "query",
          "description" : "Company id",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "hash",
          "in" : "query",
          "description" : "File Hash",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "$ref" : "#/definitions/Labour"
            }
          }
        }
      }
    },
    "/worker/absences/getWorkingDays" : {
      "get" : {
        "tags" : [ "Worker" ],
        "summary" : "Calculates the working days between two dates",
        "description" : "",
        "operationId" : "calcularDiasLaborables",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "companyId",
          "in" : "query",
          "description" : "Company id",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "worker",
          "in" : "query",
          "description" : "Worker",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "dateStart",
          "in" : "query",
          "description" : "Date Start",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "dateEnd",
          "in" : "query",
          "description" : "Date End",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "year",
          "in" : "query",
          "description" : "Year",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "$ref" : "#/definitions/Labour"
            }
          }
        }
      }
    },
    "/worker/absences/send" : {
      "post" : {
        "tags" : [ "Worker" ],
        "summary" : "Sends a new Absence request",
        "description" : "",
        "operationId" : "sendAbsence",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "companyId",
          "in" : "query",
          "description" : "Company id",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "year",
          "in" : "query",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "worker",
          "in" : "query",
          "description" : "worker",
          "required" : false,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/Absence"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "$ref" : "#/definitions/Labour"
            }
          }
        }
      }
    },
    "/worker/absences/summary" : {
      "get" : {
        "tags" : [ "Worker" ],
        "summary" : "Gets a summary of the Absences of all Workers from a Company",
        "description" : "",
        "operationId" : "workersAbsencesList",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "companyId",
          "in" : "query",
          "description" : "Company id",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "year",
          "in" : "query",
          "description" : "Year",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok",
            "schema" : {
              "$ref" : "#/definitions/Labour"
            }
          }
        }
      }
    },
    "/worker/absences/validate" : {
      "post" : {
        "tags" : [ "Worker" ],
        "summary" : "Validates a list of Absences of a Worker",
        "description" : "",
        "operationId" : "validateAbsence",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "validation",
          "in" : "query",
          "description" : "Validation",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "reason",
          "in" : "query",
          "description" : "Validation Reason",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "companyId",
          "in" : "query",
          "description" : "Company id",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "year",
          "in" : "query",
          "description" : "Year",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "worker",
          "in" : "query",
          "description" : "Worker",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "regids",
          "in" : "query",
[...]
